body {
  padding: 24px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tweet-box {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 60px);
}

input, 
textarea {
  font-family: inherit;
  flex: 1;
  resize: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.tweet-box-actions {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tweet-box-submit {
  font-family: inherit;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: navy;
}

.tweet-box-submit:hover {
  opacity: 0.8;
}

.tweet-box-submit:disabled {
  background-color: darkgray;
}
